<form action="/api/addCourse" method="post" class="course">
  <div style="margin-bottom: 10px">
    <span class="inputwrapper">
      <label for="course">Course Name:</label><br>
      <input id="course" name="course" type="text" required>
    </span>
    <span class="inputwrapper">
      <label for="section">Section #</label><br>
      <input id="section" name="section" type="text" required>
    </span>
  </div>
  <button type="submit">Submit</button>
  <button type="reset">Reset</button>
</form>