<form action="/api/attending" method="post" class="anim">
  <div style="margin-bottom: 10px">
    <span class="inputwrapper">
      <label for="studentid">Student ID:</label><br>
      <input id="studentid" name="studentid" type="text" required>
    </span>
    <span class="inputwrapper">
      <label for="keycode">Key Code:</label><br>
      <input id="keycode" name="keycode" type="text" required>
    </span>
    <span class="inputwrapper">
      <label for="courseId">Course ID:</label><br>
      <input id="courseId" name="courseId" type="text" required>
    </span>
  </div>
  <button type="submit">Submit</button>
  <button type="reset">Reset</button>
</form>