<div class="anim">
  <h4>Courses:</h4>
  <div style="position:relative;width:100%;height:260px">
    <span class="inputwrapper">
      <select id="courseTree" style="width:500px"
            ng-model="selectedCourse" ng-change="update()"
            ng-options="course.id as course.name+' - Section '+course.section group by course.name for course in courses" >
      </select>
    </span>

    <span class="inputwrapper" style="position: absolute;right:0px;top:0px;">
      <button class="button" ng-click="openAddCourseDialog()">Add a Course</button>
    </span>

    <form ng-submit="submitCourseEdit()" style="position:absolute;left:0;top:80px;">
      <label for="sheetinput" style="line-height:80%;margin-bottom:0;display:block">Copy sheet url here:</label>
      <input id="sheetinput" type="text" ng-model="courses[selectedCourse].sheetUrl" style="width:450px;" required/>
      <button type="submit">Submit</button>
    </form>
    <span class="inputwrapper" style="position: absolute;right:0px;top:80px;">
      <button ng-click="openSheetTab()"
              ng-disabled="!selectedCourse || !courses[selectedCourse] || !courses[selectedCourse].sheetUrl">
        Open in Tab</button>
    </span>
    
    <span class="inputwrapper" style="position: absolute;right:0px;top:160px;">
      <button ng-click="openEditCourseDialog()"
              ng-disabled="!selectedCourse || !courses[selectedCourse]">
        Edit Course</button>
    </span>
    
    <span class="inputwrapper" style="position: absolute;left:324px;top:160px;">
      <button class="button" ng-click="openKeyDialog()"
              ng-disabled="!selectedCourse || !courses[selectedCourse]">Generate Key</button>
    </span>

    <span class="inputwrapper" style="position: absolute;left:0px;top:160px;">
      <button class="button" ng-click="openManualEntryDialog()"
              ng-disabled="!selectedCourse || !courses[selectedCourse]">Manual Entry</button>
    </span>
  </div>
</div>