<div class="anim">
  <h4>Courses:</h4>
  <div style="position:relative;width:100%;">
    <span class="inputwrapper">
      <select id="courseTree"
            ng-model="selectedCourse"
            ng-options="course.id as course.name + ' - Section '+course.section group by course.name for course in courses" >
      </select>
    </span>

    <span class="inputwrapper" style="position: absolute;right:40px;top:0px;">
      <a class="button" ng-click="openAddCourseDialog()">Add a Course</a>
    </span>

    <span class="inputwrapper" style="position: absolute;left:0px;top:80px;">
      <a class="button" ng-click="openManualEntryDialog()">Manual Entry</a>
    </span>

    <form ng-show="courses[selectedCourse]" ng-submit="submitCourseEdit()" ng-controller="editCourseController">
      <input type="text" ng-model="courses[selectedCourse].keycode" required/>
    </form>
  </div>
</div>