<!--<form action="/api/attending" method="post" class="anim">-->
  <!--<div style="margin-bottom: 10px">-->
    <!--<span class="inputwrapper">-->
      <!--<label for="username">Username:</label><br>-->
      <!--<input id="username" name="username" type="text" required>-->
    <!--</span>-->
    <!--<span class="inputwrapper">-->
      <!--<label for="password">Password:</label><br>-->
      <!--<input id="password" name="password" type="password" required>-->
    <!--</span>-->
  <!--</div>-->
  <!--<button type="submit">Submit</button>-->
  <!--<button type="reset">Reset</button>-->
<!--</form>-->



<!--<button ng-click="googleLogin()">Login</button>-->