<h1>Manual Entry</h1>
<form ng-submit="submitManualEntry()" class="course">
  <div style="margin-bottom: 10px">
    <span class="inputwrapper">
      <label for="studentid">Student ID:</label><br>
      <input id="studentid" name="studentid" type="text" ng-model="manualForm.studentid" required>
    </span>
    <span class="inputwrapper">
      <label for="date">Key Code:</label><br>
      <input id="date" name="date" type="date" ng-model="manualForm.date" required>
    </span>
  </div>
  <button type="submit">Submit</button>
  <button type="reset">Reset</button>
</form>